@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}



/* КАСТОМНЫЕ СТИЛИ */

.fog {
  background-color: rgba(255, 255, 255, 0.8);
}

.offer {
  width: 100%;
  height: 700px;
  color: white; /* Цвет текста будет белым для лучшей читаемости */
  background-size: cover;
  background-position: center;
  background-image: url('/assets/images/offer.png');
}

.top-120 {
  top: 8rem
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-start {
  display: flex;
  justify-content: column;
  align-items: start;
}

/* Горизонтальное выравнивание элементов по центру */
.flex-center-horizontal {
  display: flex;
  justify-content: center;
}

/* Вертикальное выравнивание элементов по центру */
.flex-center-vertical {
  display: flex;
  align-items: center;
}

/* Размещение элементов в строку с выравниванием по центру */
.flex-row-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.flex-row-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Размещение элементов в колонку с выравниванием по центру */
.flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Размещение элементов в строку с выравниванием по концу */
.flex-row-end {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

/* Размещение элементов в колонку с выравниванием по концу */
.flex-column-end {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.flex-column-start {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.flex-justify-between {
  display: flex;
  justify-content: space-between;
}

.flex-end {
  display: flex;
  justify-content: flex-end !important;
  align-items: flex-start;
}

.flex-left-end {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.arrow-icon {
  transition: transform 0.3s ease-in-out; /* добавляем плавный переход */
}

.rotated {
  transform: translateX(-10px); /* смещаем изображение влево при наведении */
}